@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Table representing a school schedule  -->
<h1>Horaire</h1>
<table>
    <tr>
        <th></th>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
    </tr>
    <tr>
        <th>8h30-10h00</th>
        <td>Mathématiques</td>
        <td>Science</td>
        <td>Anglais</td>
        <td>Éducation physique</td>
        <td>Éducation physique</td>
    </tr>
    <tr>
        <th>10h15-11h45</th>
        <td>Mathématiques</td>
        <td>Science</td>
        <td>Anglais</td>
        <td>Éducation physique</td>
        <td>Éducation physique</td>
    </tr>
    <tr>
        <th>12h30-14h00</th>
        <td>Mathématiques</td>
        <td>Science</td>
        <td>Anglais</td>
        <td>Éducation physique</td>
        <td>Éducation physique</td>
    </tr>
    <tr>
        <th>14h15-15h45</th>
        <td>Mathématiques</td>
        <td>Science</td>
        <td>Anglais</td>
        <td>Éducation physique</td>
        <td>Éducation physique</td>
    </tr>
</table>

