@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--Le titre : Développement WEB en ASP.net et quelques informations à propos de ce cours.-->
<h1>Développement WEB en ASP.net</h1>
<p>Le cours de Développement WEB en ASP.net est un cours qui nous apprend à créer des sites web en utilisant le langage de programmation C# et le framework ASP.net. Nous avons appris à créer des sites web en utilisant le modèle MVC (Model-View-Controller). Nous avons aussi appris à utiliser le langage Razor pour créer des pages web dynamiques. Nous avons aussi appris à utiliser le langage HTML pour créer des pages web statiques. Nous avons aussi appris à utiliser le langage CSS pour styliser nos pages web. Nous avons aussi appris à utiliser le langage JavaScript pour rendre nos pages web plus dynamiques. Nous avons aussi appris à utiliser le langage SQL pour créer des bases de données. Nous avons aussi appris à utiliser le langage LINQ pour faire des requêtes SQL. Nous avons aussi appris à utiliser le langage Entity Framework pour faire des requêtes SQL. Nous avons aussi appris à utiliser le langage Bootstrap pour styliser nos pages web.</p>