@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Cours cette session-ci</h1>
<ul>
    <li>DÉVELOPPEMENT WEB EN ASP.NET</li>
    <li>PROGRAMMATION MULTIPLATEFORMES</li>
    <li>DÉVELOPPEMENT D'APPLICATIONS MOBILES</li>
    <li>INFRASTRUCTURE ET SERVICES RÉSEAUX</li>

</ul>