@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Liste des cours de la session passé</h1>
<ul>
    <li>PROGRAMMATION WEB CÔTÉ CLIENT</li>
    <li>PROGRAMMATION WEB CÔTÉ SERVEUR</li>
    <li>PROGRAMMATION ORIENTÉE OBJET</li>
    <li>PROGRAMMATION STRUCTURÉE</li>
</ul>