@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Programmeur Web</h1>
<table>
    <thead>
        <tr>
            <th>Class Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>HTML Fundamentals</td>
            <td>An introduction to HTML syntax, tags, and basic web page structure.</td>
        </tr>
        <tr>
            <td>CSS Styling</td>
            <td>An exploration of CSS syntax and techniques for styling web pages.</td>
        </tr>
        <tr>
            <td>Responsive Design</td>
            <td>How to design web pages that look great on a variety of devices and screen sizes.</td>
        </tr>
        <tr>
            <td>JavaScript Essentials</td>
            <td>An introduction to JavaScript syntax and programming concepts, including variables, data types, and functions.</td>
        </tr>
        <tr>
            <td>jQuery</td>
            <td>A deep dive into the jQuery library, including selecting elements, manipulating the DOM, and handling events.</td>
        </tr>
        <tr>
            <td>Web Accessibility</td>
            <td>How to design web pages that are accessible to people with disabilities, including assistive technologies and best practices for web content.</td>
        </tr>
        <tr>
            <td>Web Hosting and Deployment</td>
            <td>An overview of web hosting options and techniques for deploying web applications to a production environment.</td>
        </tr>
    </tbody>
</table>

